<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <a href="{{ url_for('admin_logout') }}">Logout</a>

    <h2>Clients List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Credit Balance</th>
                <th>Charge</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ "{:,.2f}".format(user.credit_balance) }}</td>
                    <form method="POST" onsubmit="return confirmCharge()">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <td>
                            <input type="number" name="charge_amount" step="0.01" required>
                            <input type="submit" value="Update">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmCharge() {
            // ユーザーに確認ダイアログを表示
            var chargeAmount = document.querySelector('input[name="charge_amount"]').value;
            var confirmMessage = "Are you sure you want to add " + chargeAmount + " to this user's credit balance?";
            return confirm(confirmMessage); // OKが押されたらtrueを返す
        }
    </script>
</body>
</html>
